<nav class="navbar bg-success shadow-sm p-3 bg-body rounded">
  <div class="container-fluid">

    <p class="navbar-brand ">
      <img src="../../../assets/img/horizonte.jpg" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      Nuevo Horizonte
    </p>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a> </a>
      </li>
      <li class="nav-item">
        <a type="button" class="btn btn-success" href="#"> Cerrar Sesion</a>
      </li>

    </ul>
  </div>
</nav>