<form [formGroup]="form" class="container text-center">
    <div class="align-item-center justify-content-center section">
        <br>
        <h2> Registrarse</h2>
        <div class="itemform">
        <label for="usuario">Usuario </label>
        <br>
        <input type="text" id="usuario" formControlName="usuario" autocomplete="off">
        </div>
        <div class="itemform">
        <label  for="correo">Correo </label>
        <br>
        <input type="text" id="correo" formControlName="correo" autocomplete="off">
        </div>
        <div class="itemform">
        <label  for="contra">Contraseña</label>
        <br>
        <input type="password" id="contra" formControlName="password" autocomplete="off">
        </div>
        <br>
        <button type="button" class="btn btn-success btn-sm" (click)="crearUsuario()">Guardar</button>
        <button type="button" class="btn btn-danger btn-sm">Cancelar</button>
    </div>
</form>
