  <form>
    <div class="card justify-content-center">
      <input #fotoInput type="file" class="d-none">
            <img src="../../../assets/img/horizonte.jpg" class="img-fluid" (click)="fotoInput.click()">
      <textarea placeholder="Descripcion" maxlength="500" style="width: 90%;"></textarea>
      <button type="button" class="btn btn-success btn-sm">Publicar</button>
    </div>
  </form>
<!--   <div class="card" *ngFor="let item of lista" style="width:18rem;">
      <img src="{{item.rutaImg}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.usuario?.usuario}} EL pepe</h5>
        <p class="card-text">{{item.descripcion}}</p>
        <p class="card-text"><small class="text-muted">{{item.likes}}</small></p>
      </div>
    </div>-->
    <div class="card">
      <img src="../../assets/img/horizonte.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> EL pepe</h5>
        <p class="card-text">Esta es una descripcion de prueba</p>
        <p class="card-text"><small class="text-muted">👍 25</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/horizonte.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> EL pepe</h5>
        <p class="card-text">Esta es una descripcion de prueba</p>
        <p class="card-text"><small class="text-muted">👍 25</small></p>
      </div>
    </div>