<form [formGroup]="form" class="container text-center">
    <div class="align-item-center section">
        <br>
        <h2> Nuevo Horizonte </h2>
        <div class="itemform">
        <label for="usuario">Usuario </label>
        <br>
        <input type="text" id="usuario" formControlName="usuario">
        </div>
        <div class="itemform">
        <label for="contra">Contraseña</label>
        <br>
        <input type="password" id="contra" formControlName="password">
        </div>
        <a href="/registrarse"> ¿No tienes una cuenta aun? Registrate!</a>
        <br>
        <button type="button" class="btn btn-success col-3" (click)="loguear()">Iniciar Sesion</button>
        <button type="button" class="btn btn-danger col-3">Cancelar</button>
    </div>
</form>
